.generic-input {
  display: inline-block;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

input, textarea {
  border: 0.5px solid #ccc;
  line-height: 1.9rem;
  margin-right: 1rem;
  padding-left: 0.5rem;
}

input:focus, textarea:focus{
  border: none;
}