.generic-button {
  display: inline-block;
  color: #000;
  font-style: normal;
  text-decoration: none;
  padding: 0 1.5rem;
  background-color: transparent;
  border: 1px solid #eee;
  line-height: 2rem;
  cursor: pointer;
}

.generic-button:hover {
  background-color: #eee;
}