.search-bar {
	vertical-align: middle;
	margin-bottom: 1rem;
	display: inline-block;
}

.filter-input {
	display: inline-block;
	width: calc(100% - 101px - 1rem);
	margin-right: 1rem;
}

.filter-input input {
	width: 100%;
}
